@import "../../assets/variables";

.promo {
  flex: 1 1 auto;
  @include container;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;

  &__left {
    width: 51.2rem;
    padding-top: 15rem;
  }

  &__title {
    font-family: "CATLinz";
    font-style: normal;
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 7.1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  &__text {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
  }

  &__scroll-down {
    @include button;
    max-width: 280px;
    max-height: 52px;
    width: 28rem;
    height: 5.2rem;
    background: $orange;
    border: 1.38462px solid $orange;
    border-radius: 92.3077px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: $gray_2;
    margin-left: 4.4rem;
  }

  &__right {
    padding-top: 6rem;
  }

  &__image {
    background-image: url("../../assets/images/promo-macbook.png");
    background-size: cover;
    max-width: 683px;
    max-height: 513px;
    width: 68.3rem;
    height: 51.3rem;
    position: relative;
  }

  &__graffiti {
    max-width: 231px;
    max-height: 211px;
    width: 23.1rem;
    height: 21.1rem;
    position: absolute;
    left: 13.6rem;
    top: -8.3rem;
  }
}

@media screen and (min-width: 1230px) {
  .promo {
    &__left {
      padding-top: 150px;
    }

    &__title {
      font-size: 75px;
      line-height: 71px;
    }

    &__scroll-down {
      font-size: 16px;
      line-height: 20px;
      margin-left: 44px;
    }

    &__right {
      padding-top: 60px;
    }

    &__graffiti {
      left: 136px;
      top: -83px;
    }
  }
}

@media screen and (max-width: 576px) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 40px;

    &__left,
    &__right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }

    &__title {
      width: 100%;
      font-size: 42px;
      line-height: 43px;
      margin: 20px 0;
    }

    &__text {
      width: 100%;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 40px;
    }

    &__scroll-down {
      font-size: 16px;
      line-height: 20px;
      margin: 0 auto;
      padding: 0;
      width: 32.8rem;
      height: 5.2rem;
      max-width: 328px;
      max-height: 52px;
    }

    &__image {
      width: 33.8rem;
      height: 25.4rem;
    }

    &__graffiti {
      width: 15.3rem;
      height: 14rem;
      left: 6.2rem;
      top: -5.7rem;
    }
  }
}
