@font-face {
  font-family: "CATLinz";
  font-style: normal;
  src: url("./CATLinz/CATLinz.ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("./Mulish/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("./Mulish/Mulish-Medium.ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("./Mulish/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("./Mulish/Mulish-Bold.ttf");
}
