@import "../../assets/variables";

.header {
  background-color: $bg;
  min-height: 91px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 2px;
  @include container;

  &__logo {
    font-family: "CATLinz";
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 90px;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
  }

  &__nav {
    margin-left: auto;
  }

  &__nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__link {
    list-style: none;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 32px;

    &_type_profile {
      color: #ffffff;
      text-transform: uppercase;
    }

    &_type_logout {
      color: $orange;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    min-height: 61px;

    &__logo {
      font-size: 28px;
      line-height: 130%;
      letter-spacing: 0.12em;
    }

    &__link {
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.03em;
      margin-left: 10px;

      &_type_logout {
        font-size: 0;
        background-image: url("../../assets/login.svg");
        width: 24px;
        height: 24px;
      }
    }
  }
}
