@import "./fonts/fonts.scss";
@import "./assets/variables";

html {
  font-size: 0.81301vw;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 2.778vw;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg;
}
